/* Business */

body.css-yoga,
.css-yoga p,
.css-yoga .featured-content h1.small,
.css-yoga .form-group > label,
.css-yoga .checkbox > label,
.css-yoga .alert > p,
.css-yoga .block-content-wrapper h2,
.css-yoga .intro-text h1,
.css-yoga .intro-text h2,
.css-yoga .intro-text h3,
.css-yoga .intro-text h4,
.css-yoga .intro-text h5,
.css-yoga .intro-text h6,
.css-yoga .restaurant-info-img-content h4,
.css-yoga .contact-title h3 {
    font-family: "Roboto", sans-serif;
} 
.css-yoga h1,
.css-yoga h2,
.css-yoga h3,
.css-yoga h4,
.css-yoga h5,
.css-yoga h6,
.css-yoga .testimonials-slider .testimonials-slider-box .testimonial-text {
    font-family: "Roboto", sans-serif;
}
/* Color 1 */

.css-yoga .color-1,
.css-yoga .wsmenu-list > li > a:hover,
.css-yoga .dark-menu .wsmenu-submenu li a:hover,
.css-yoga .dark-menu .wsmenu-submenu li a:hover,
.css-yoga .dark-menu .megamenu .link-list li a:hover,
.css-yoga #header ul.wsmenu-submenu li a.active,
.css-yoga #portfolio-filter li a:hover,
.css-yoga .wsmenu-list > li > a.active,
.css-yoga #header .wsmenu.navigation-dark .wsmenu-list > li > a.active,
.css-yoga #header .wsmenu.navigation-dark .wsmenu-list > li > a:hover,
.css-yoga .dark-menu .megamenu .link-list li.active a,
.css-yoga .cart-dropdown-menu .cart-shop-products-list li .csp-price,
.css-yoga .cart-shop-products .total-bottom-cart .total-cart-price span,
.css-yoga .light-menu .megamenu .link-list li.active a,
.css-yoga .light-menu .megamenu .link-list li a:hover,
.css-yoga .light-menu .wsmenu-submenu li a:hover,
.css-yoga .light-menu .wsmenu-submenu li.active a,
.css-yoga ul.simple-list li [class^="icon-"],
.css-yoga .footer-tags a:hover,
.css-yoga #footer .widget-twitter-box .tweet ul li a:hover,
.css-yoga .blog-list > article .blog-desc .blog-desc-details a:hover,
.css-yoga .blog-list>article .post-facebook:hover,
.css-yoga .blog-list>article .post-facebook:hover .pf-icon span,
.css-yoga .blog-list>article .post-facebook:hover .pf-text,
.css-yoga ul.blog-popular-list .ssp-title:hover,
.css-yoga #post-content .blog-desc-details a:hover,
.css-yoga .header-transparent.nav-sticky .wsmenu-list > li > a:hover,
.css-yoga .header-transparent.nav-sticky .wsmenu-list > li > a.active,
.css-yoga .author-description .author-description-text-holder .author-name a:hover,
.css-yoga .comment_response .media h6 a:hover,
.css-yoga .blog-list>article .post-facebook:hover,
.css-yoga .blog-list>article .post-facebook:hover .pf-icon span,
.css-yoga .blog-list>article .post-facebook:hover .pf-text,
.css-yoga ul.blog-popular-list .ssp-title:hover,
.css-yoga #post-content .blog-desc-details a:hover,
.css-yoga .header-transparent.nav-sticky .wsmenu-list > li > a:hover,
.css-yoga .header-light.nav-sticky .wsmenu-list > li > a:hover,
.css-yoga .header-light.nav-sticky .wsmenu-list > li > a.active,
.css-yoga .header-transparent.nav-sticky .wsmenu-list > li > a.active,
.css-yoga .author-description .author-description-text-holder .author-name a:hover,
.css-yoga ul.sidebar-category li a:hover,
.css-yoga ul.shop-star-rating.single-item li.full-star,
.css-yoga,
.css-yoga #footer.footer-10 .title.small a:hover,
.css-yoga .vlt-left-menu.vlt-menu-style-2 .nav-accordion-section-title:hover,
.css-yoga .vlt-left-menu .nav-accordion-section-content ul li a:hover,
.css-yoga .header-content .phone-number span,
.css-yoga .intro-block h6,
.css-yoga .icon-block [class^="icon-"],
.css-yoga ul.header-links li a:hover,
.css-yoga .navbar.banner--clone .nav > li > a:hover,
.css-yoga .navbar.banner--clone .btn-search:hover,
.css-yoga .success-lg:hover [class^="icon-"],
.css-yoga #copyrights ul li a:hover,
.css-yoga #copyrights a:hover,
.css-yoga .breadcrumb > .active,
.css-yoga .item-text-wrapper_normal .portfolio-item-title a:hover,
.css-yoga a.image_link:hover [class^="icon-"],
.css-yoga a.load-more-btn:hover,
.css-yoga a.load-more-btn:hover [class^="icon-"],
.css-yoga .intro-block h1 [class^="icon-"],
.css-yoga .shop-list .shop-product h4 a:hover,
.css-yoga ul#portfolio-layout-filter li a.active,
.css-yoga .item-text-wrapper_normal .portfolio-item-category a:hover,
.css-yoga .shop-price,
.css-yoga ul.sidebar-shop-cat > li > a:hover,
.css-yoga a.load-more-btn:hover,
.css-yoga a.load-more-btn:hover [class^="icon-"],
.css-yoga .intro-block h1 [class^="icon-"],
.css-yoga .shop-list .shop-product h4 a:hover,
.css-yoga ul#portfolio-layout-filter li a.active,
.css-yoga .item-text-wrapper_normal .portfolio-item-category a:hover,
.css-yoga ul.sidebar-cat > li span,
.css-yoga .shop-price,
.css-yoga ul.sidebar-cat > li > a:hover,
.css-yoga ul.jobs-list li [class^="icon-"],
.css-yoga .team-social a:hover,
.css-yoga .icon-default,
.css-yoga .error-page-icon span [class^="icon-"],
.css-yoga .footer-3-container-text a:hover,
.css-yoga .testimonials-box .testimonial-author,
.css-yoga #page-title.image-page-title-fullwidth h1,
.css-yoga #page-title.image-page-title-left.image-page-noimage h2,
.css-yoga ul.services-2-icons,
.css-yoga ul.shop-layout-filter li a.active,
.css-yoga ul.portfolio-layout-filter li a.active,
.css-yoga ul.porfolio-project-details-list > li .ppd-right a:hover,
.css-yoga .related-projects-title .slick-custom-next:hover,
.css-yoga .related-projects-title .slick-custom-prev:hover,
.css-yoga .recent-post-content a:hover,
.css-yoga .form-group.login-form-submit a,
.css-yoga .shop-type-1 a.add-to-cart-item:before,
.css-yoga .shop-type-2 a.add-to-cart-item:before,
.css-yoga a.form-forgotpass,
.css-yoga .sidebar-shop-products-list li .ssp-title:hover,
.css-yoga .restaurant-info ul li [class^="icon-"],
.css-yoga .navbar-default.default .btn-cart .header-cart-count,
.css-yoga .blog-list > article .blog-desc h4 a:focus,
.css-yoga .blog-list-full > article .blog-desc h4 a:hover,
.css-yoga .blog-list-full > article .blog-desc h4 a:focus,
.css-yoga .blog-list > article .blog-desc .blog-desc-details a:focus,
.css-yoga .blog-list-full > article .blog-desc .blog-desc-details a:hover,
.css-yoga .blog-list-full > article .blog-desc .blog-desc-details a:focus,
.css-yoga .single-post > article .blog-desc .blog-desc-details a:hover,
.css-yoga .single-post > article .blog-desc .blog-desc-details a:focus,
.css-yoga .blog-list > article .blog-desc .btn-breadmore:hover,
.css-yoga .blog-list > article .blog-desc .btn-breadmore:focus,
.css-yoga .blog-list-full > article .blog-desc .btn-breadmore:hover,
.css-yoga .blog-list-full > article .blog-desc .btn-breadmore:focus,
.css-yoga .blog-masonry > article .blog-desc h4 a:hover,
.css-yoga .blog-masonry > article .blog-desc h4 a:focus,
.css-yoga .blog-masonry > article .blog-desc .blog-desc-details a:hover,
.css-yoga .blog-masonry > article .blog-desc .blog-desc-details a:focus,
.css-yoga .comment_response .media_cloud a.reply_link,
.css-yoga .tabpanel-style-1 .nav-tabs > li.active > a:focus,
.css-yoga .tabpanel-style-1 .nav-tabs > li.active > a:hover,
.css-yoga .tabpanel-style-3 .nav-tabs > li.active > a,
.css-yoga .tabpanel-style-3 .nav-tabs > li.active > a:focus,
.css-yoga .tabpanel-style-3 .nav-tabs > li.active > a:hover,
.css-yoga .dropcap.dropcap-style-1,
.css-yoga .counter-box .count-icon,
.css-yoga .counter-style-1 .counter-box h4,
.css-yoga .icon-type,
.css-yoga .icon-type.it-main-color,
.css-yoga .shop-single-page .review_response .review-title .shop-star-rating li.full-star,
.css-yoga .comment_response .media_cloud a.reply_link,
.css-yoga .tabpanel-style-1 .nav-tabs > li.active > a:focus,
.css-yoga .tabpanel-style-1 .nav-tabs > li.active > a:hover,
.css-yoga .tabpanel-style-3 .nav-tabs > li.active > a,
.css-yoga .tabpanel-style-3 .nav-tabs > li.active > a:focus,
.css-yoga .tabpanel-style-3 .nav-tabs > li.active > a:hover,
.css-yoga .dropcap.dropcap-style-1,
.css-yoga .btn-default-reverse,
.css-yoga .counter-box .count-icon,
.css-yoga .counter-style-1 .counter-box h4,
.css-yoga .icon-type,
.css-yoga .icon-type.it-main-color,
.css-yoga .shop-single-page .review_response .review-title .shop-star-rating li.full-star,
.css-yoga .review_response .media h6 a,
.css-yoga .review_response .media_cloud .shop-star-rating li.full-star,
.css-yoga .rating-container .rating-stars,
.css-yoga .form-contact small,
.css-yoga ul.icon-list li a:hover,
.css-yoga ul.icon-list li a:active,
.css-yoga ul.icon-list li a:focus,
.css-yoga .checkout-sum,
.css-yoga .checkout-table td a:hover,
.css-yoga .checkout-box a,
.css-yoga .user-profile-list ul li a:hover,
.css-yoga a.profile-active,
.css-yoga .user-profile-content h2,
.css-yoga .forum-content-header span a,
.css-yoga .recent-work-content a:hover,
.css-yoga .recent-work-image-content a:hover,
.css-yoga .contact-overlay-map .maximize-form:hover,
.css-yoga .hero-slier-nav-content:hover [class^="icon-"],
.css-yoga .selected .hero-slier-nav-content [class^="icon-"],
.css-yoga .team-social a:hover,
.css-yoga .team-name h5 a:hover,
.css-yoga .clients-slick-nav .slick-custom-next:hover,
.css-yoga .clients-slick-nav .slick-custom-prev:hover,
.css-yoga .services-pricing-icon [class^="icon-"],
.css-yoga .brand [class^="icon-"],
.css-yoga .content-divider-colored [class^="icon-"],
.css-yoga .divider-content h1 span,
.css-yoga .divider-content h2 span,
.css-yoga .divider-content h3 span,
.css-yoga .intro-page-content a:hover,
.css-yoga .image-box-content a:hover,
.css-yoga .icon-type.it-main-color [class^="icon-"],
.css-yoga .icon-type-2:hover p,
.css-yoga .icon-type-2:hover span.icon-type-2-icon,
.css-yoga .heading-container .head-colored,
.css-yoga ul.home-6-list li h4 [class^="icon-"],
.css-yoga .icon-box-2-effect-1:hover .icon-block-2,
.css-yoga .icon-box-2-effect-3-reverse:hover .icon-block-2,
.css-yoga .icon-box-2-effect-4:hover .icon-block-2,
.css-yoga .icon-box-2-effect-4-reverse .icon-block-2,
.css-yoga .icon-box-2-effect-5:hover .icon-block-2,
.css-yoga .simple-icon-lightbg [class^="icon-"],
.css-yoga .accordion-style-1 .panel-default > .panel-heading .panel-title a:hover,
.css-yoga .panel-body ul li a:hover,
.css-yoga .colored,
.css-yoga .tabpanel-style-7 .nav-tabs > li.active > a,
.css-yoga .tabpanel-style-6 .nav-tabs > li > a,
.css-yoga .tabpanel-style-8 .nav-tabs > li.active > a,
.css-yoga .tp_caption_big span,
.css-yoga ul.icon-box-simple li:hover a,
.css-yoga .testimonials-slick-nav .slick-testimonial-prev:hover [class^="icon-"],
.css-yoga .testimonials-slick-nav .slick-testimonial-next:hover [class^="icon-"],
.css-yoga .clients-slick-nav .slick-clients-prev:hover [class^="icon-"],
.css-yoga .clients-slick-nav .slick-clients-next:hover [class^="icon-"],
.css-yoga .blockquote-author p,
.css-yoga .testimonial-author,
.css-yoga .latest-post-content h1 a:hover,
.css-yoga .post-by a:hover,
.css-yoga .latest-post-content .read-more-link,
.css-yoga .blog-horizontal .bh-content h3 a:hover,
.css-yoga .blog-horizontal .bh-content .bh-details a:hover,
.css-yoga .blog-horizontal .bh-content .bh-details a:hover span,
.css-yoga a.bsp-title:hover,
.css-yoga .sidebar-blog-post-list li .sbp-title:hover,
.css-yoga .navbar-nav > li.active,
.css-yoga .navbar-nav > li.active:hover,
.css-yoga a.idb-social:hover,
.css-yoga a.idb-social:hover span,
.css-yoga a.idb-price,
.css-yoga span.pts-raised,
.css-yoga .bsp-social a:hover,
.css-yoga .bsp-social a [class^="icon-"]:hover,
.css-yoga a.bsp-more:hover,
.css-yoga .blog-list > article .blog-image-box .video-play-icon:focus [class^="icon-"],
.css-yoga .blog-list > article .blog-post-2 .bp2-desc h4 a:focus,
.css-yoga .blog-list > article .blog-post-2 .bp2-desc .blog-desc-details a:hover,
.css-yoga .blog-list > article .blog-post-2 .bp2-desc .blog-desc-details a:focus,
.css-yoga .gallery-block .gallery-box .gallery-meta a:hover,
.css-yoga .gallery-block .gallery-box .gallery-meta a:focus,
.css-yoga .tp-caption a,
.css-yoga .tp-caption a:hover,
.css-yoga .cd-timeline-inner-content a:hover,
.css-yoga .testimonial-box .testimonial-author span,
.css-yoga .fic-date a:hover,
.css-yoga .forum-inner-content h1 a:hover,
.css-yoga .user-profile-desc a:hover,
.css-yoga .cd-timeline-navigation a:hover::after,
.css-yoga .login-form .login-input-box [class^="icon-"],
.css-yoga .icon-input-box [class^="icon-"],
.css-yoga ul.icon-list.il-no-border.il-main-bg li [class^="icon-"],
.css-yoga ul.bar-chart-graph li,
.css-yoga ul.line-graph li,
.css-yoga ul.donut-graph li,
.css-yoga .tp-caption.Creative-SubTitle,
.css-yoga .Creative-SubTitle,
.css-yoga .tp-caption.vlt-hero-rotating,
.css-yoga ul.recent-post-widget .rp-post a:hover,
.css-yoga .loader-5,
.css-yoga .loader-7,
.css-yoga .loader-9,
.css-yoga .loader-2,
.css-yoga .loader-4,
.css-yoga .vertical-newspaper-list .vnl-content h4 a:hover,
.css-yoga .vertical-newspaper-sidebar-list .vnl-content h4 a:hover,
.css-yoga .events-vertical .events-vertical-desc h4 a:hover,
.css-yoga .portfolio-single-share .pss-share li a:hover,
.css-yoga .portfolio-single-share .pss-like:hover,
.css-yoga .portfolio-single-intro-description .portfolio-single-categories a:hover,
.css-yoga .portfolio-single-more-link:hover,
.css-yoga .gsi-style-9 li.visited>*,
.css-yoga .gsi-style-9 li.current>*,
.css-yoga .item-text-wrapper_normal .portfolio-item-title a:hover,
.css-yoga .item-text-wrapper_normal .portfolio-item-category a:hover,
.css-yoga .header-contact-box .header-phone:hover,
.css-yoga .header-contact-box .header-email:hover,
.css-yoga .icon-box.icon-square .icon-block span,
.css-yoga .icon-box.icon-square.icon-fill.icon-transform:hover .icon-block span {
    color: #c9638e;
}
/* Background Color 1 */

.css-yoga .background-1,
.css-yoga .animation-box.background-1:hover .animation-box-style-2.background-1:hover,
.css-yoga .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-background-1,
.css-yoga .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-background-1,
.css-yoga a.brand-modern span.line-1,
.css-yoga .header.dark-nav a.brand-modern span.line-1,
.css-yoga .wte-separator.background-1:before,
.css-yoga .call-newsletter-box form .btn,
.css-yoga .offscreen-container,
.css-yoga #header.background-1,
.css-yoga .background-1-menu .megamenu,
.css-yoga .background-1-menu .wsmenu-list .wsmenu-submenu li:hover .wsmenu-submenu-sub,
.css-yoga .background-1-menu .wsmenu-list .wsmenu-submenu .wsmenu-submenu-sub li:hover .wsmenu-submenu-sub-sub,
.css-yoga .background-1-menu .wsmenu-submenu li a,
.css-yoga .background-1-menu .wsmenu-submenu .wsmenu-submenu-sub li a,
.css-yoga .background-1-menu .wsmenu-submenu,
.css-yoga .background-1-menu .wsmenu-submenu-sub,
.css-yoga .background-1-menu .wsmenu-submenu-sub-sub,
.css-yoga .background-1-menu .wsmenu-submenu-sub-sub-sub,
.css-yoga #portfolio-filter li a.activeFilter,
.css-yoga #portfolio-filter li a.activeFilter[data-filter="*"],
.css-yoga #header .search-cart-navbar:hover .btn-default,
.css-yoga .scroll-to-top-fixed,
.css-yoga #bootstrap-table.table>thead>tr>th,
.css-yoga ul.meta-share-social li a:hover,
.css-yoga article.blog-item .blog-image-box .video-play-icon span,
.css-yoga .audioplayer,
.css-yoga .audioplayer-bar,
.css-yoga .blog-desc-details:after,
.css-yoga .audioplayer-volume-adjust div div,
.css-yoga .qoute-post,
.css-yoga .footer-newsletter-box form .btn,
.css-yoga .footer-newsletter-box form .btn.disabled,
.css-yoga .tags-cloud-list li a:hover,
.css-yoga article.blog-item .blog-image-box.video-post:before,
.css-yoga .tp-caption .btn-default,
.css-yoga .btn-default,
.css-yoga .flex-control-paging li a.flex-active,
.css-yoga #mobile-navbar,
.css-yoga .call-to-action,
.css-yoga .maincolor-background,
.css-yoga ul.widget-ul li a > span,
.css-yoga ul.widget-social li a:hover,
.css-yoga #people .item .info,
.css-yoga .main-color,
.css-yoga .flexslider.clients .flex-control-paging li a.flex-active,
.css-yoga #portfolio-filter li a:after,
.css-yoga .navbar.banner--clone .nav li.active > a,
.css-yoga .pricing-table-column.special-price-table .pricing-table-head,
.css-yoga .pricing-table-column.special-price-table .pricing-table-content,
.css-yoga .shop-list .shop-product .shop-button-box .addtocart-button,
.css-yoga .progress-bar-box .progress-bar,
.css-yoga .background-1,
.css-yoga .selecter .selecter-item:hover,
.css-yoga .selecter .selecter-item.selected:hover,
.css-yoga #footer.colored,
.css-yoga section.about-counter,
.css-yoga .error-page-title:after,
.css-yoga .tabpanel-style-4 .nav-tabs > li.active > a,
.css-yoga .tabpanel-style-4 .nav-tabs > li > a:hover,
.css-yoga .tabpanel-style-4 .nav-tabs > li.active > a:focus,
.css-yoga .tabpanel-style-4 .nav-tabs > li.active > a:hover,
.css-yoga .tabpanel-style-4 .tab-content h3:after,
.css-yoga .about-classic-column-themecolor,
.css-yoga .selecter .selecter-item:hover,
.css-yoga .selecter .selecter-item.selected:hover,
.css-yoga .item-text-wrapper_overlay,
.css-yoga .tabpanel-style-sidenav ul.nav-tabs > li a:active,
.css-yoga .tabpanel-style-sidenav ul.nav-tabs > li a:hover,
.css-yoga .tabpanel-style-sidenav ul.nav-tabs > li.active a,
.css-yoga .shop-type-2 a.add-to-cart-item,
.css-yoga .banner--clone.banner--stick .btn-cart .header-cart-count,
.css-yoga .search-cart-navbar .btn-cart .header-cart-count,
.css-yoga .tabpanel-style-2 .nav-tabs > li.active > a,
.css-yoga .tabpanel-style-2 .nav-tabs > li.active > a:focus,
.css-yoga .tabpanel-style-2 .nav-tabs > li.active > a:hover,
.css-yoga .withmaincolor .testimonials-slider .flex-control-nav li a,
.css-yoga .withmaincolor .testimonials-slider .testimonials-slider-box .testimonial-image,
.css-yoga .dropcap.dropcap-style-2,
.css-yoga .alert-default,
.css-yoga blockquote:before,
.css-yoga blockquote:after,
.css-yoga .tp-caption .btn-default,
.css-yoga .btn-default,
.css-yoga .content-title h5:before,
.css-yoga .content-title h5:after,
.css-yoga .icon-box.icon-fill .icon-block,
.css-yoga .icon-box.icon-square:hover .icon-block,
.css-yoga .icon-box.icon-circle:hover .icon-block,
.css-yoga .icon-box.icon-circle:hover .icon-block span,
.css-yoga .icon-type.it-main-color:hover,
.css-yoga .icon-type.it-main-color:focus,
.css-yoga .icon-type.it-main-color-reverse,
.css-yoga .icon-type.it-main-color:hover span,
.css-yoga .icon-type.it-main-color-reverse:hover span,
.css-yoga .add-to-cart-form .count-input .count-plus:hover,
.css-yoga .add-to-cart-form .count-input .count-minus:hover,
.css-yoga .pricing-table-column-2.special-price-table .pricing-table-head,
.css-yoga .pricing-table-container.special-price-table,
.css-yoga .pricing-table-column-2.special-price-table .pricing-table-content-2,
.css-yoga .header-white .navbar-2 .btn-cart .header-cart-count,
.css-yoga ul.forum-list li.forum-header,
.css-yoga .textbox-withmaincolor,
.css-yoga .background-1,
.css-yoga .team-member-job,
.css-yoga .team-section .team-desc-box:before,
.css-yoga .team-section .team-desc-box:after,
.css-yoga .shop-categories:hover .shop-title-categories,
.css-yoga .content-divider-colored-bg [class^="icon-"],
.css-yoga .overlay-animation-6 .content-box,
.css-yoga .block-content-wrapper h1,
.css-yoga .benefits-box h1,
.css-yoga .selecter .selecter-item:hover,
.css-yoga .selecter .selecter-item.selected:hover,
.css-yoga .ui-slider .ui-slider-range,
.css-yoga #header.header-main-color,
.css-yoga .navbar-2.banner--clone.main-color-navbar,
.css-yoga .tabpanel-style-center .nav-tabs > li.active > a,
.css-yoga .tabpanel-style-center1 .nav-tabs > li.active > a:focus,
.css-yoga .tabpanel-style-center .nav-tabs > li.active > a:hover,
.css-yoga .label.label-primary,
.css-yoga .label.label-primary,
.css-yoga .star-rating .caption .label,
.css-yoga .tparrows.preview5:hover,
.css-yoga .table-style-4.table-withmaincolor thead tr th,
.css-yoga .table-style-5.table-withmaincolor thead tr th,
.css-yoga .table-style-6.table-withmaincolor thead tr th,
.css-yoga .table-style-6.table-withmaincolor.table-striped > tbody > tr:nth-of-type(odd):hover,
.css-yoga .table-style-7.table-withmaincolor thead tr th,
.css-yoga .table-style-7.table-withmaincolor tbody tr:last-child th,
.css-yoga .table-style-7.table-withmaincolor tbody tr:last-child td,
.css-yoga .table-withmaincolor.table-hover > tbody > tr:hover,
.css-yoga .table-style-2.table-withmaincolor thead tr th,
.css-yoga .table-style-3.table-withmaincolor thead tr th,
.css-yoga .table-style-3.table-withmaincolor tbody tr th,
.css-yoga .parallax-withmaincolor,
.css-yoga .contact-overlay-map .minimize-form:hover,
.css-yoga .team-3:hover .team-social,
.css-yoga .team-5:hover .team-social,
.css-yoga .special-table-2,
.css-yoga .special-table-3,
.css-yoga span.pricing-3-discount,
.css-yoga #vertical-timeline-container:before,
.css-yoga .subscribe-fancy-themebg,
.css-yoga .empty-cart,
.css-yoga .team-4:hover .team-social,
.css-yoga .content-divider-colored,
.css-yoga .content-divider-colored-bg,
.css-yoga .withmainbackground,
.css-yoga .services-2-heading,
.css-yoga .icon-box-2-effect-4 .icon-block-2,
.css-yoga .services-2-heading,
.css-yoga .promotion-box-theme-colored,
.css-yoga .promotion-box-theme-colored .promotion-box-title h4,
.css-yoga .icon-block-2,
.css-yoga .icon-box-2-effect-2:hover .icon-block-2,
.css-yoga .icon-box-2-effect-3 .icon-block-2:after,
.css-yoga .icon-box-2-effect-4 .icon-block-2:after,
.css-yoga .icon-box-2-effect-6 .icon-block-2,
.css-yoga .icon-box-2-effect-6:hover .icon-block-2,
.css-yoga .simple-icon-icon,
.css-yoga a.call-to-action-link:hover,
.css-yoga .add-to-cart-form .count-input .count-plus,
.css-yoga .add-to-cart-form .count-input .count-minus,
.css-yoga .tabpanel-style-5 .nav-tabs > li > a:active,
.css-yoga .tabpanel-style-5 .nav-tabs > li.active > a:focus,
.css-yoga .tabpanel-style-5 .nav-tabs > li.active > a,
.css-yoga .tabpanel-style-5 .nav-tabs > li.active > a:active,
.css-yoga .tabpanel-style-6 .nav-tabs > li > a:active,
.css-yoga .tabpanel-style-6 .nav-tabs > li.active > a:focus,
.css-yoga .tabpanel-style-6 .nav-tabs > li.active > a,
.css-yoga .tabpanel-style-6 .nav-tabs > li.active > a:active,
.css-yoga .special-price-box,
.css-yoga .dropdown-menu > .active > a,
.css-yoga .dropdown-menu > .active > a:focus,
.css-yoga .dropdown-menu > .active > a:hover,
.css-yoga #header.main-color-nav .navbar-2,
.css-yoga .latest-post-data,
.css-yoga .blog-single-post .bsp-heading h1,
.css-yoga .testimonial-single .slick-dots li button:before,
.css-yoga .slick-dots li button:before,
.css-yoga .blog-list > article.default-post .blog-post-2 .bp2-category,
.css-yoga .timeline-complete .timeline-status.timeline-active:before,
.css-yoga .megamenu.maincolor,
.css-yoga .dropdown.maincolor ul,
.css-yoga .dropdown.maincolor ul.dropdown-menu,
.css-yoga #footer.maincolor,
.css-yoga #copyrights.maincolor,
.css-yoga .no-touch .cd-horizontal-timeline .events a:hover::after,
.css-yoga .cd-horizontal-timeline .events a.selected::after,
.css-yoga .cd-horizontal-timeline .filling-line,
.css-yoga .pinpulsebox span,
.css-yoga .main-color-dropdown .megamenu,
.css-yoga .main-color-dropdown .dropdown-menu,
.css-yoga #cd-timeline::before,
.css-yoga ul.icon-list.il-main-bg li [class^="icon-"],
.css-yoga .process-steps ul li.current a .number,
.css-yoga ol.ordered-list.ol-main-bg li:before,
.css-yoga .irs-bar,
.css-yoga .irs-from,
.css-yoga .irs-to,
.css-yoga .irs-single,
.css-yoga .open > .dropdown-toggle.btn-default,
.css-yoga .fc-unthemed .fc-today,
.css-yoga .fc-content,
.css-yoga #particles-js,
.css-yoga .s-icon:hover,
.css-yoga #progressbar li.active:before,
.css-yoga #progressbar li.active:after,
.css-yoga .portfolio-filter .selecter-item.activeFilter,
.css-yoga #copyrights ul.widget-social li a:hover,
.css-yoga .page-loader-spinner span,
.css-yoga .loader-6:before,
.css-yoga .loader-2,
.css-yoga .loader-2:before,
.css-yoga .loader-2:after,
.css-yoga .newspaper-title .custom-slick-nav-1 .slick-custom-next:hover,
.css-yoga .newspaper-title .custom-slick-nav-1 .slick-custom-prev:hover,
.css-yoga .loader-10 > div,
.css-yoga .loader-11 > div,
.css-yoga .loader-12 > div,
.css-yoga .loader-13 > div:first-child,
.css-yoga .loader-14 > div,
.css-yoga .loader-16 > div,
.css-yoga .loader-17 > div,
.css-yoga .loader-17 > div:before,
.css-yoga .loader-17 > div:after,
.css-yoga .loader-18 > div,
.css-yoga .loader-19 > div,
.css-yoga .loader-20 > div,
.css-yoga .loader-22 > div,
.css-yoga .loader-23 > div,
.css-yoga .loader-24 > div,
.css-yoga .loader-25 > div,
.css-yoga .loader-26 > div,
.css-yoga .loader-27 > div,
.css-yoga .loader-28 > div,
.css-yoga .loader-29 > div,
.css-yoga .loader-32 > div,
.css-yoga .loader-33 > div,
.css-yoga .loader-35 > div:nth-child(3),
.css-yoga .loader-35 > div:nth-child(4),
.css-yoga .loader-35 > div:nth-child(5),
.css-yoga .loader-35 > div:nth-child(6),
.css-yoga .loader-37 > div,
.css-yoga .loader-38 > div,
.css-yoga .portfolio-single-share .pss-share li a:before,
.css-yoga .portfolio-single-intro-description .portfolio-single-categories a:before,
.css-yoga .portfolio-single-more-link:before,
.css-yoga .checkbox input[type=checkbox]:checked + .checkbox-material .check,
.css-yoga .radio input[type=radio]:checked ~ .check,
.css-yoga .vlt-btn-group .dropdown-menu li a:hover,
.css-yoga .gsi-step-indicator.triangle li.current>*,
.css-yoga .gsi-style-4 li.current>*,
.css-yoga .gsi-style-5 li.current>*,
.css-yoga .gsi-style-6 li.current>* .number,
.css-yoga .gsi-style-7 li.current:hover>*,
.css-yoga .gsi-style-8 li.visited>*,
.css-yoga .gsi-style-8 li.current>*,
.css-yoga .gsi-style-9 li.visited>*:after,
.css-yoga .gsi-style-9 li.current>*:after,
.css-yoga .gsi-style-10 li.visited>*:after,
.css-yoga .gsi-style-10 li.current>*:after,
.css-yoga .gsi-style-11 li.current:before,
.css-yoga .gsi-style-11 li.current:after,
.css-yoga .gsi-style-11 li.visited:before,
.css-yoga .gsi-style-11 li.visited:after,
.css-yoga .gsi-style-11 li.visited>*:after,
.css-yoga .gsi-style-11 li.current>*:after,
.css-yoga .flatpickr-day.today:focus,
.css-yoga .flatpickr-day.today:hover,
.css-yoga .reveal-nav .navbar-toggle,
.css-yoga .form-contact-3 .btn-default.disabled,
.css-yoga .form-contact-3 .btn-default.disabled.active,
.css-yoga .form-contact-3 .btn-default.disabled.focus,
.css-yoga .form-contact-3 .btn-default.disabled:active,
.css-yoga .form-contact-3 .btn-default.disabled:focus,
.css-yoga .form-contact-3 .btn-default.disabled:hover,
.css-yoga .form-contact-3 .btn-default[disabled],
.css-yoga .form-contact-3 .btn-default[disabled].active,
.css-yoga .form-contact-3 .btn-default[disabled].focus,
.css-yoga .form-contact-3 .btn-default[disabled]:active,
.css-yoga .form-contact-3 .btn-default[disabled]:focus,
.css-yoga .form-contact-3 .btn-default[disabled]:hover,
.css-yoga .form-contact-3 fieldset[disabled] .btn-default,
.css-yoga .form-contact-3 fieldset[disabled] .btn-default.active,
.css-yoga .form-contact-3 fieldset[disabled] .btn-default.focus,
.css-yoga .form-contact-3 fieldset[disabled] .btn-default:active,
.css-yoga .form-contact-3 fieldset[disabled] .btn-default:focus,
.css-yoga .form-contact-3 fieldset[disabled] .btn-default:hover,
.css-yoga .icon-box.icon-square:hover .icon-block span,
.css-yoga #header.header-main-color-sticky.header-sticky,
.css-yoga #header.header-white .navbar-2 .navbar-nav > li > a:before,
.css-yoga #header.header-dark .navbar-2 .navbar-nav > li > a:before,
.css-yoga #header.header-white-transparent .navbar-2 .navbar-nav > li > a:before,
.css-yoga #header.header-dark-transparent .navbar-2 .navbar-nav > li > a:before,
.css-yoga #header.header-white-sticky .navbar-2 .navbar-nav > li > a:before,
.css-yoga #header.header-dark-sticky .navbar-2 .navbar-nav > li > a:before,
.css-yoga #header.header-white-transparent-sticky .navbar-2 .navbar-nav > li > a:before,
.css-yoga #header.header-dark-transparent-sticky .navbar-2 .navbar-nav > li > a:before {
    background-color: #c9638e;
}
/* Color 2 */

.css-yoga .color-2,
.css-yoga .cart-shop-products h3,
.css-yoga .cart-shop-products .total-bottom-cart .total-cart-price span,
.css-yoga .cart-shop-products-list li .csp-price,
.css-yoga .sidebar-shop-products-list li .shop-star-rating li.full-star,
.css-yoga .shop-list .shop-product .shop-star-rating li.full-star,
.css-yoga ul.shop-star-rating li.full-star,
.css-yoga ul.line-graph li:nth-child(2n),
.css-yoga ul.donut-graph li:nth-child(2n),
.css-yoga ul.bar-chart-graph li:nth-child(2n) {
    color: #73c6cd;
}
.color-2:hover {
    color: #73c6cd;
}
/* Background Color 2 */

.css-yoga .background-2,
.css-yoga .animation-box.background-2:hover .animation-box-style-2.background-2:hover,
.css-yoga .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-background-2,
.css-yoga #header.background-2,
.css-yoga .background-2-menu .wsmenu-list .wsmenu-submenu li:hover .wsmenu-submenu-sub,
.css-yoga .background-2-menu .wsmenu-list .wsmenu-submenu .wsmenu-submenu-sub li:hover .wsmenu-submenu-sub-sub,
.css-yoga .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-background-2,
.css-yoga a.brand-modern span.line-2,
.css-yoga .header.dark-nav a.brand-modern span.line-2,
.css-yoga .wte-separator.background-2:before,
.css-yoga .form-contact.dark-from .has-error .help-block,
.css-yoga a.add-to-wishlist,
.css-yoga .shop-list .shop-product:hover>a.add-to-wishlist,
.css-yoga .slider-price-filter-box:after,
.css-yoga .background-2-menu .megamenu,
.css-yoga .background-2-menu .wsmenu-submenu li a,
.css-yoga .background-2-menu .wsmenu-submenu .wsmenu-submenu-sub li a,
.css-yoga .background-2-menu .wsmenu-submenu,
.css-yoga .background-2-menu .wsmenu-submenu-sub,
.css-yoga .background-2-menu .wsmenu-submenu-sub-sub,
.css-yoga .background-2-menu .wsmenu-submenu-sub-sub-sub,
.css-yoga .shop-list .shop-product .shop-ribbon,
.css-yoga .ui-slider-horizontal .ui-slider-range,
.css-yoga .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary,
.css-yoga .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
    background-color: #73c6cd;
}
/* Color 3 */

.css-yoga .color-3,
.css-yoga ul.line-graph li:nth-child(3n),
.css-yoga ul.donut-graph li:nth-child(3n),
.css-yoga ul.bar-chart-graph li:nth-child(3n),
.css-yoga .navbar-toggle,
.css-yoga .navbar-toggle:before {
    color: #73b79d;
}
/* Background Color 3 */

.css-yoga .background-3,
.css-yoga .animation-box.background-3:hover .animation-box-style-2.background-3:hover,
.css-yoga .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-background-3,
.css-yoga #header.background-3,
.css-yoga .background-3-menu .wsmenu-list .wsmenu-submenu li:hover .wsmenu-submenu-sub,
.css-yoga .background-3-menu .wsmenu-list .wsmenu-submenu .wsmenu-submenu-sub li:hover .wsmenu-submenu-sub-sub,
.css-yoga .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-background-3,
.css-yoga a.brand-modern span.line-3,
.css-yoga .header.dark-nav a.brand-modern span.line-3,
.css-yoga .wte-separator.background-3:before,
.css-yoga .background-3-menu .megamenu,
.css-yoga .background-3-menu .wsmenu-submenu li a,
.css-yoga .background-3-menu .wsmenu-submenu .wsmenu-submenu-sub li a,
.css-yoga .background-3-menu .wsmenu-submenu,
.css-yoga .background-3-menu .wsmenu-submenu-sub,
.css-yoga .background-3-menu .wsmenu-submenu-sub-sub,
.css-yoga .background-3-menu .wsmenu-submenu-sub-sub-sub {
    background-color: #73b79d;
}
/* Border Color 1 */

.css-yoga .border-background-1,
.css-yoga .tp-caption .btn-default,
.css-yoga .btn-default,
.css-yoga .flex-control-paging li a.flex-active,
.css-yoga .flexslider.clients .flex-control-paging li a.flex-active,
.css-yoga .contact-info-3,
.css-yoga .team-social a:hover,
.css-yoga .contact-title-one h3:after,
.css-yoga .home-title-one h3:after,
.css-yoga #login-form .login-input:active,
.css-yoga #login-form .login-input:focus,
.css-yoga .load-more-wrapper a.load-more-btn:hover,
.css-yoga #register-form .register-input:active,
.css-yoga #register-form .register-input:focus,
.css-yoga .dropcap.dropcap-style-1,
.css-yoga .dropcap.dropcap-style-2,
.css-yoga .alert-default,
.css-yoga blockquote,
.css-yoga .tp-caption .btn-default,
.css-yoga .btn-default,
.css-yoga .btn-default-reverse,
.css-yoga .icon-box.icon-square .icon-block,
.css-yoga .icon-box.icon-circle .icon-block,
.css-yoga .icon-type.it-main-color,
.css-yoga .icon-type.it-main-color:hover,
.css-yoga .icon-type.it-main-color:focus,
.css-yoga .icon-type.it-main-color-reverse,
.css-yoga .icon-type.it-main-color-reverse:hover,
.css-yoga .icon-type.it-main-color-reverse:focus,
.css-yoga .add-to-cart-form .count-input .count-plus:hover,
.css-yoga .add-to-cart-form .count-input .count-minus:hover,
.css-yoga #reviewmodal .modal-header,
.css-yoga .job-left-title h3,
.css-yoga .pricing-table-container.special-price-table,
.css-yoga .clients-slick-nav .slick-custom-next:hover,
.css-yoga .clients-slick-nav .slick-custom-prev:hover,
.css-yoga .tabpanel-style-8 .nav-tabs > li.active,
.css-yoga a.btn-default.btn-animation-icon-box,
.css-yoga .btn-default.btn-animation-icon-box:hover,
.css-yoga .btn-default.btn-animation-icon-box:focus,
.css-yoga .btn-default.btn-animation-icon-box:active,
.css-yoga .tp-caption a.btn-default.btn-animation-icon-box,
.css-yoga .tp-caption .btn-default.btn-animation-icon-box:hover,
.css-yoga .tp-caption .btn-default.btn-animation-icon-box:focus,
.css-yoga .tp-caption .btn-default.btn-animation-icon-box:active,
.css-yoga .testimonials-slick-nav .slick-testimonial-prev:hover,
.css-yoga .testimonials-slick-nav .slick-testimonial-next:hover,
.css-yoga .clients-slick-nav .slick-clients-prev:hover,
.css-yoga .clients-slick-nav .slick-clients-next:hover,
.css-yoga .bsp-image,
.css-yoga .blog-list > article.default-post .blog-desc,
.css-yoga .testimonial-single li.slick-active button::before,
.css-yoga .slick-dots li.slick-active button:before,
.css-yoga .blog-list > article.default-post .blog-post-2 .bp2-desc,
.css-yoga .blog-list > article .blog-desc .btn-breadmore:hover,
.css-yoga .blog-list > article .blog-desc .btn-breadmore:focus,
.css-yoga .timeline-status.timeline-active:before,
.css-yoga .cd-horizontal-timeline .events a.older-event::after,
.css-yoga .cd-horizontal-timeline .events a.selected::after,
.css-yoga .no-touch .cd-horizontal-timeline .events a:hover::after,
.css-yoga .no-touch .cd-timeline-navigation a:hover,
.css-yoga .cd-bg-image:hover .video-play-icon [class^="icon-"],
.css-yoga .cd-timeline-navigation a:hover,
.css-yoga .tabpanel-style-1 .nav-tabs > li.active > a,
.css-yoga .tabpanel-style-1 .nav-tabs > li.active > a:focus,
.css-yoga .tabpanel-style-1 .nav-tabs > li.active > a:hover,
.css-yoga .login-form input:focus,
.css-yoga .pinpulse,
.css-yoga .open > .dropdown-toggle.btn-default,
.css-yoga .tabpanel-style-7.shop-single-tabpanel .nav-tabs > li.active,
.css-yoga .newspaper-title,
.css-yoga .newspaper-separator,
.css-yoga ul.widget-social.widget-social-sidebar li a:hover,
.css-yoga .loader-30 > div,
.css-yoga .loader-31 > div,
.css-yoga .loader-35 > div:first-of-type,
.css-yoga .loader-35 > div:nth-child(2),
.css-yoga .radio input[type=radio]:checked ~ .circle,
.css-yoga .gsi-step-indicator.triangle li.current>*,
.css-yoga .gsi-style-7.border-right li.current>*,
.css-yoga .gsi-style-7.border-bottom li.current>*,
.css-yoga .gsi-style-7.border-left li.current>*,
.css-yoga .flatpickr-day.today,
.css-yoga .flatpickr-day.today:focus,
.css-yoga .flatpickr-day.today:hover,
.css-yoga .form-contact-3 .btn-default.disabled,
.css-yoga .form-contact-3 .btn-default.disabled.active,
.css-yoga .form-contact-3 .btn-default.disabled.focus,
.css-yoga .form-contact-3 .btn-default.disabled:active,
.css-yoga .form-contact-3 .btn-default.disabled:focus,
.css-yoga .form-contact-3 .btn-default.disabled:hover,
.css-yoga .form-contact-3 .btn-default[disabled],
.css-yoga .form-contact-3 .btn-default[disabled].active,
.css-yoga .form-contact-3 .btn-default[disabled].focus,
.css-yoga .form-contact-3 .btn-default[disabled]:active,
.css-yoga .form-contact-3 .btn-default[disabled]:focus,
.css-yoga .form-contact-3 .btn-default[disabled]:hover,
.css-yoga .form-contact-3 fieldset[disabled] .btn-default,
.css-yoga .form-contact-3 fieldset[disabled] .btn-default.active,
.css-yoga .form-contact-3 fieldset[disabled] .btn-default.focus,
.css-yoga .form-contact-3 fieldset[disabled] .btn-default:active,
.css-yoga .form-contact-3 fieldset[disabled] .btn-default:focus,
.css-yoga .form-contact-3 fieldset[disabled] .btn-default:hover,
.css-yoga .wsmenu-list li > .wsmenu-submenu,
.css-yoga .wsmenu-list li > .megamenu,
.css-yoga .table-style-1 thead tr th,
.css-yoga .table-style-1 tbody tr:last-child th,
.css-yoga .table-style-1 tbody tr:last-child td,
.css-yoga .table-withmaincolor thead tr th,
.css-yoga .clients-title-border h3,
.css-yoga .cd-slider-nav li:hover,
.css-yoga .selected,
.css-yoga .icon-type-2:hover p,
.css-yoga .icon-type-2:hover span.icon-type-2-icon,
.css-yoga .icon-type-2:hover span.icon-type-2-icon [class^="icon-"],
.css-yoga .activeFilter,
.css-yoga .loader-12 > div,
.css-yoga .loader-15 > div,
.css-yoga .loader-15 > div:last-child,
.css-yoga .loader-21 > div {
    border-color: #c9638e;
}
.css-yoga .tabpanel-style-4 .nav-tabs > li.active,
.css-yoga .tabpanel-style-4 .nav-tabs > li.active > span,
.css-yoga .tabpanel-style-5 .nav-tabs > li.active,
.css-yoga .tabpanel-style-5 .nav-tabs > li.active > span,
.css-yoga .loader-13 > div:last-child,
.css-yoga .loader-15 > div:last-child {
    border-color: #c9638e transparent;
}
.css-yoga .job-form input:focus,
.css-yoga .job-form textarea:focus,
.css-yoga .form-contact input:focus,
.css-yoga .form-contact textarea:focus,
.css-yoga .form-contact input:focus,
.css-yoga .login-form input:focus,
.css-yoga .login-form textarea:focus {
    background-image: linear-gradient(#c9638e, #c9638e), linear-gradient(#D2D2D2, #D2D2D2);
}
.css-yoga .btn-rounded,
.css-yoga .form-control,
.css-yoga .pagination-box .pager li a,
.css-yoga .portfolio_overlay a.portfolio_zoom,
.css-yoga .portfolio_overlay a.portfolio_link,
.css-yoga .overlay-animation-2 .overlay_box a.image_link,
.css-yoga .overlay-animation-2 .overlay_box a.video_zoom,
.css-yoga a.home-breadcrumb,
.css-yoga .overlay-animation-1 .overlay_box a.image_zoom,
.css-yoga .overlay-animation-1 .overlay_box a.image_link,
.css-yoga ul.widget-ul li a span,
.css-yoga ul.widget-social li a,
.css-yoga .team-2 .team-social a,
.css-yoga .team-3 .team-social a,
.css-yoga .team-social a,
.css-yoga .benefits-box h1 {
    border-radius: 100px;
}
.css-yoga ul.thumbs li a,
.css-yoga ul.thumbs li a img,
.css-yoga ul.thumbs li a:before,
.css-yoga .widget-dribbble-box .shots li a,
.css-yoga .widget-dribbble-box .shots li a img,
.css-yoga .dribbble-box-dummy .shots-dummy li a,
.css-yoga .dribbble-box-dummy .shots-dummy li a img,
.css-yoga .instagram-widget a,
.css-yoga .instagram-widget a img,
.css-yoga .instagram-widget a:hover:before,
.css-yoga .instagram-widget a:hover:after,
.css-yoga .pricing-table-2-column,
.css-yoga .pricing-table-3-column,
.css-yoga .pricing-table-4 {
    border-radius: 4px;
}
.css-yoga .icon-box-2-effect-3 .icon-block-2 {
    box-shadow: 0 0 0 3px #c9638e;
}
.css-yoga .icon-box-2-effect-4 .icon-block-2,
.css-yoga .icon-box-2-effect-5 .icon-block-2,
.css-yoga .icon-box-2-effect-5:hover .icon-block-2,
.css-yoga .icon-box-2-effect-1 .icon-block-2:after,
.css-yoga .icon-box-2-effect-2 .icon-block-2:after {
    box-shadow: 0 0 0 4px #c9638e;
}
.icon-box-2-effect-6 .icon-block-2:after,
.css-yoga .scroll-to-top-fixed.sticky-btn:hover {
    box-shadow: 0 0 0 2px #c9638e;
}
.css-yoga .empty-cart:after,
.css-yoga .loader-34 > div {
    border-bottom-color: #c9638e;
}
.css-yoga .btn-default-reverse:hover,
.css-yoga .btn-default-reverse:focus {
    background-color: #c9638e;
    border-color: #c9638e;
}
.css-yoga .tp-caption .btn-default.active,
.css-yoga .btn-default.active,
.css-yoga .tp-caption .btn-default.focus,
.css-yoga .btn-default.focus,
.css-yoga .tp-caption .btn-default:active,
.css-yoga .btn-default:active,
.css-yoga .tp-caption .btn-default:focus,
.css-yoga .btn-default:focus,
.css-yoga .tp-caption .btn-default:hover,
.css-yoga .btn-default:hover,
.css-yoga #header.header-dark .navbar-2 .search-navbar .btn-search:hover,
.css-yoga #header.header-dark .navbar-2 .search-navbar .btn-cart:hover,
.css-yoga #header.header-white-transparent .navbar-2 .search-navbar .btn-search:hover,
.css-yoga #header.header-white-transparent .navbar-2 .search-navbar .btn-cart:hover,
.css-yoga #header.header-dark-transparent .navbar-2 .search-navbar .btn-search:hover,
.css-yoga #header.header-dark-transparent .navbar-2 .search-navbar .btn-cart:hover,
.css-yoga #header.header-dark-sticky.header-sticky .navbar-2 .search-navbar .btn-search:hover,
.css-yoga #header.header-dark-sticky.header-sticky .navbar-2 .search-navbar .btn-cart:hover,
.css-yoga #header.header-white-transparent-sticky.header-sticky .navbar-2 .search-navbar .btn-search:hover,
.css-yoga #header.header-white-transparent-sticky.header-sticky .navbar-2 .search-navbar .btn-cart:hover,
.css-yoga #header.header-dark-transparent-sticky.header-sticky .navbar-2 .search-navbar .btn-search:hover,
.css-yoga #header.header-dark-transparent-sticky.header-sticky .navbar-2 .search-navbar .btn-cart:hover,
.css-yoga #header.header-main-color .navbar-2 .search-navbar .btn-search:hover,
.css-yoga #header.header-main-color .navbar-2 .search-navbar .btn-cart:hover,
.css-yoga #header.header-main-color-sticky.header-sticky .navbar-2 .search-navbar .btn-search:hover,
.css-yoga #header.header-main-color-sticky.header-sticky .navbar-2 .search-navbar .btn-cart:hover,
.css-yoga .btn-primary.btn-animation-icon-box,
.css-yoga .btn-primary.btn-animation-icon-box:hover,
.css-yoga .btn-primary.btn-animation-icon-box:focus,
.css-yoga .btn-primary.btn-animation-icon-box:active,
.css-yoga .tp-caption .btn-primary.btn-animation-icon-box,
.css-yoga .tp-caption .btn-primary.btn-animation-icon-box:hover,
.css-yoga .tp-caption .btn-primary.btn-animation-icon-box:focus,
.css-yoga .tp-caption .btn-primary.btn-animation-icon-box:active,
.css-yoga .btn-primary-reverse.btn-animation-icon-box .btn-icon,
.css-yoga .btn-primary-reverse.btn-animation-icon-box:hover .btn-icon,
.css-yoga .btn-primary-reverse.btn-animation-icon-box:focus .btn-icon,
.css-yoga .btn-primary-reverse.btn-animation-icon-box:active .btn-icon {
    border-color: #b0567c;
}
.css-yoga .metis .tp-tab.selected .tp-tab-divider {
    border-right-color: #c9638e;
}
.css-yoga #header.header-main-color .navbar-2 .navbar-nav > li > a:before,
.css-yoga #header.header-main-color-sticky .navbar-2 .navbar-nav > li > a:before,
.css-yoga span.latest-post-month,
.css-yoga .main-color-dropdown .dropdown-menu .dropdown-menu,
.css-yoga .main-color-dropdown .dropdown-menu .dropdown-menu .dropdown-menu,
.css-yoga .tp-caption .btn-default.active,
.css-yoga .btn-default.active,
.css-yoga .tp-caption .btn-default.focus,
.css-yoga .btn-default.focus,
.css-yoga .tp-caption .btn-default:active,
.css-yoga .btn-default:active,
.css-yoga .tp-caption .btn-default:focus,
.css-yoga .btn-default:focus,
.css-yoga .tp-caption .btn-default:hover,
.css-yoga .btn-default:hover,
.css-yoga #header.header-dark .navbar-2 .search-navbar .btn-search:hover,
.css-yoga #header.header-dark .navbar-2 .search-navbar .btn-cart:hover,
.css-yoga #header.header-white-transparent .navbar-2 .search-navbar .btn-search:hover,
.css-yoga #header.header-white-transparent .navbar-2 .search-navbar .btn-cart:hover,
.css-yoga #header.header-dark-transparent .navbar-2 .search-navbar .btn-search:hover,
.css-yoga #header.header-dark-transparent .navbar-2 .search-navbar .btn-cart:hover,
.css-yoga #header.header-dark-sticky.header-sticky .navbar-2 .search-navbar .btn-search:hover,
.css-yoga #header.header-dark-sticky.header-sticky .navbar-2 .search-navbar .btn-cart:hover,
.css-yoga #header.header-white-transparent-sticky.header-sticky .navbar-2 .search-navbar .btn-search:hover,
.css-yoga #header.header-white-transparent-sticky.header-sticky .navbar-2 .search-navbar .btn-cart:hover,
.css-yoga #header.header-dark-transparent-sticky.header-sticky .navbar-2 .search-navbar .btn-search:hover,
.css-yoga #header.header-dark-transparent-sticky.header-sticky .navbar-2 .search-navbar .btn-cart:hover,
.css-yoga #header.header-main-color .navbar-2 .search-navbar .btn-search:hover,
.css-yoga #header.header-main-color .navbar-2 .search-navbar .btn-cart:hover,
.css-yoga #header.header-main-color-sticky.header-sticky .navbar-2 .search-navbar .btn-search:hover,
.css-yoga #header.header-main-color-sticky.header-sticky .navbar-2 .search-navbar .btn-cart:hover,
.css-yoga #header.header-main-color .navbar-2 .navbar-nav > li.active,
.css-yoga #header.main-color-nav .navbar-2 .navbar-nav > .active > a,
.css-yoga .btn-primary.btn-animation-icon-box .btn-text,
.css-yoga .btn-primary.btn-animation-icon-box:hover .btn-text,
.css-yoga .btn-primary.btn-animation-icon-box:focus .btn-text,
.css-yoga .primary.btn-animation-icon-box:active .btn-text {
    background-color: #b0567c;
}
.css-yoga .item-text-wrapper,
.css-yoga .standard_hover .portfolio_overlay,
.css-yoga .overlay-animation-1 .overlay_box,
.css-yoga .flip-hover .flip-box .content-box,
.css-yoga .team-8 .team-image .overlay-team-box,
.css-yoga .team-9 .team-image .overlay-team-box,
.css-yoga .portfolio-animation-slide .sliding-content {
    background-color: rgba(201, 99, 142, 0.9);
}
.css-yoga .intro-block .overlay,
.css-yoga ul.thumbs li a:before,
.css-yoga .widget-dribbble-box .shots li a:before,
.css-yoga .dribbble-box-dummy .shots-dummy li a:before,
.css-yoga .sidebar-shop-products-list .image-thumb:before,
.css-yoga .cart-shop-products-list .image-thumb:before,
.css-yoga .overlay-bg.colored,
.css-yoga .instagram-widget a:before,
.css-yoga .overlay-bg.background-1 {
    background-color: rgba(201, 99, 142, 0.75);
}
.forum-reply-signin {
    background: rgba(201, 99, 142, 0.92);
}
.css-yoga .table-style-5.table-withmaincolor tbody tr td:nth-child(2),
.css-yoga .team-2 .overlay-team-box,
.css-yoga .team-6 .overlay-team-box,
.css-yoga .team-7 .overlay-team-box,
.css-yoga .table-style-6.table-withmaincolor.table-striped > tbody > tr:nth-of-type(odd),
.css-yoga .contact-overlay-map .overlay-map-background,
.css-yoga .table-style-7.table-withmaincolor.table-striped > tbody > tr:nth-of-type(odd),
.css-yoga .table-style-7.table-withmaincolor tbody tr th,
.css-yoga .fc-bgevent,
.css-yoga #particles-js.background-1 {
    background-color: rgba(201, 99, 142, 0.6);
}
.css-yoga .widget-dribbble-box .shots li a:hover:before,
.css-yoga .dribbble-box .shots li a:hover:before,
.css-yoga .dribbble-box-dummy .shots-dummy li a:hover:before,
.css-yoga .instagram-widget a:hover:before,
.css-yoga .newspaper-sidebar-image-news > article a.image-box:before {
    background-color: rgba(201, 99, 142, 0.85);
}
.css-yoga .price-filter-desc .btn {
    background-color: #73c6cd;
    border-color: #73c6cd;
}
.css-yoga .btn-default.btn-invert-animation:before {
    box-shadow: inset 0 0 0 50px #c9638e;
}
.css-yoga .btn-default.btn-invert-animation:hover:before {
    box-shadow: inset 0 0 0 0 #c9638e;
}
.css-yoga .btn-default-reverse.btn-invert-animation:before {
    box-shadow: inset 0 0 0 0 #c9638e;
}
.css-yoga .btn-default-reverse.btn-invert-animation:hover:before {
    box-shadow: inset 0 0 0 50px #c9638e;
}
.css-yoga .btn-primary {
    background: #b0567c;
    border-color: #b0567c;
}
.css-yoga .btn-primary:hover,
.css-yoga .open > .dropdown-toggle.btn-primary,
.css-yoga .btn-primary.active,
.css-yoga .btn-primary.focus,
.css-yoga .btn-primary:active,
.css-yoga .css-yoga .btn-primary:focus {
    background: #3c1a90;
    border-color: #3c1a90;
}
.css-yoga .btn-primary-reverse {
    color: #b0567c;
    border-color: #b0567c;
}
.css-yoga .btn-primary-reverse:hover {
    background-color: #b0567c;
    border-color: #b0567c;
}
.css-yoga .btn-primary.btn-invert-animation:before {
    box-shadow: inset 0 0 0 50px #b0567c;
}
.css-yoga .btn-primary.btn-invert-animation:hover:before {
    box-shadow: inset 0 0 0 0 #b0567c;
}
.css-yoga .btn-primary-reverse.btn-invert-animation:before {
    box-shadow: inset 0 0 0 0 #b0567c;
}
.css-yoga .btn-primary-reverse.btn-invert-animation:hover:before {
    box-shadow: inset 0 0 0 50px #b0567c;
}
.css-yoga .blog-list > article.default-post .blog-post-2 .bp2-category:before {
    border-color: transparent #c9638e;
}
.css-yoga .blog-list > article.default-post .blog-post-2 .bp2-category:after {
    border-color: transparent #c9638e;
}
.css-yoga .blog-list > article.primary-post .blog-post-2 .bp2-category {
    background: #b0567c;
}
.css-yoga .blog-list > article.primary-post .blog-post-2 .bp2-category:before {
    border-color: transparent #b0567c;
}
.css-yoga .blog-list > article.primary-post .blog-post-2 .bp2-category:after {
    border-color: transparent #b0567c;
}
.css-yoga .blog-list > article.primary-post .blog-desc {
    border-top-color: #b0567c;
}
.css-yoga .blog-list > article.primary-post .blog-post-2 .bp2-desc {
    border-bottom-color: #b0567c;
}
.css-yoga .btn-default.btn-animation-icon-box .btn-text,
.css-yoga .btn-default.btn-animation-icon-box:hover .btn-text,
.css-yoga .btn-default.btn-animation-icon-box:focus .btn-text,
.css-yoga .btn-default.btn-animation-icon-box:active .btn-text {
    background: #c9638e;
}
.css-yoga .btn-default.btn-animation-icon-box .btn-icon,
.css-yoga .btn-default.btn-animation-icon-box:hover .btn-icon,
.css-yoga .btn-default.btn-animation-icon-box:focus .btn-icon,
.css-yoga .btn-default.btn-animation-icon-box:active .btn-icon {
    background: #43c2ae;
    border-color: #43c2ae;
}
.css-yoga .btn-default-reverse.btn-animation-icon-box .btn-text,
.css-yoga .btn-default-reverse.btn-animation-icon-box:hover .btn-text,
.css-yoga .btn-default-reverse.btn-animation-icon-box:focus .btn-text,
.css-yoga .btn-default-reverse.btn-animation-icon-box:active .btn-text {
    color: #c9638e;
}
.css-yoga .btn-default-reverse.btn-animation-icon-box .btn-icon,
.css-yoga .btn-default-reverse.btn-animation-icon-box:hover .btn-icon,
.css-yoga .btn-default-reverse.btn-animation-icon-box:focus .btn-icon,
.css-yoga .btn-default-reverse.btn-animation-icon-box:active .btn-icon {
    border-color: #c9638e;
    color: #c9638e;
}
.css-yoga .btn-primary.btn-animation-icon-box .btn-icon,
.css-yoga .btn-primary.btn-animation-icon-box:hover .btn-icon,
.css-yoga .btn-primary.btn-animation-icon-box:focus .btn-icon,
.css-yoga .btn-primary.btn-animation-icon-box:active .btn-icon {
    background: #43c2ae;
    border-color: #43c2ae;
}
.css-yoga .btn-primary-reverse.btn-animation-icon-box .btn-text,
.css-yoga .btn-primary-reverse.btn-animation-icon-box:hover .btn-text,
.css-yoga .btn-primary-reverse.btn-animation-icon-box:focus .btn-text,
.css-yoga .btn-primary-reverse.btn-animation-icon-box:active .btn-text,
.css-yoga .btn-primary-reverse.btn-animation-icon-box .btn-icon,
.css-yoga .btn-primary-reverse.btn-animation-icon-box:hover .btn-icon,
.css-yoga .btn-primary-reverse.btn-animation-icon-box:focus .btn-icon,
.css-yoga .btn-primary-reverse.btn-animation-icon-box:active .btn-icon {
    color: #b0567c;
}
.css-yoga .tp-caption.btn.background-2:hover,
.css-yoga .tp-caption.btn.background-2:focus,
.css-yoga .tp-caption.btn.background-2:active {
    background-color: #e33834;
}
.css-yoga .border-background-2 {
    border-color: #73b79d;
}
.css-yoga .border-background-3 {
    border-color: #73c6cd;
}
.css-yoga .blog-list > article .featured-posts-slider .fp-desc {
    background: rgba(201, 99, 142, 0.9);
}
.css-yoga .gsi-style-4 li.current>* .number:before {
    border-left-color: #c9638e;
}
.css-yoga .gsi-style-7.border-top li.current>* {
    border-top-color: #c9638e;
}
.css-yoga .icon-box.icon-circle .icon-block,
.css-yoga .icon-box.icon-circle .icon-block span,
.css-yoga .icon-block-2,
.css-yoga .icon-block-2:after,
.css-yoga .simple-icon-image img,
.css-yoga .icon-image-overlay,
.css-yoga .simple-icon-icon,
.css-yoga .link-rounded-icon,
.css-yoga .slider-slick-slide a [class^="icon-"],
.css-yoga .flexslider.clients .flex-control-paging li a,
.css-yoga .testimonial-single .slick-prev,
.css-yoga .testimonial-single .slick-next,
.css-yoga .testimonial-single .slick-dots li button:before,
.css-yoga .slick-dots li button:before,
.css-yoga .testimonials-slick-nav .slick-testimonial-prev,
.css-yoga .testimonials-slick-nav .slick-testimonial-next,
.css-yoga .block-content-wrapper h1 {
    border-radius: 50px;
}
.css-yoga .loader-6 {
    background: #c9638e;
    background: -moz-linear-gradient(left, #c9638e 10%, rgba(201, 99, 142, 0) 42%);
    background: -webkit-linear-gradient(left, #c9638e 10%, rgba(201, 99, 142, 0) 42%);
    background: -o-linear-gradient(left, #c9638e 10%, rgba(201, 99, 142, 0) 42%);
    background: -ms-linear-gradient(left, #c9638e 10%, rgba(201, 99, 142, 0) 42%);
    background: linear-gradient(to right, #c9638e 10%, rgba(201, 99, 142, 0) 42%);
}
@-webkit-keyframes load5 {
    0%, 100% {
        box-shadow: 0em -2.6em 0em 0em #c9638e, 1.8em -1.8em 0 0em rgba(201, 99, 142, 0.2), 2.5em 0em 0 0em rgba(201, 99, 142, 0.2), 1.75em 1.75em 0 0em rgba(201, 99, 142, 0.2), 0em 2.5em 0 0em rgba(201, 99, 142, 0.2), -1.8em 1.8em 0 0em rgba(201, 99, 142, 0.2), -2.6em 0em 0 0em rgba(201, 99, 142, 0.5), -1.8em -1.8em 0 0em rgba(201, 99, 142, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(201, 99, 142, 0.7), 1.8em -1.8em 0 0em #c9638e, 2.5em 0em 0 0em rgba(201, 99, 142, 0.2), 1.75em 1.75em 0 0em rgba(201, 99, 142, 0.2), 0em 2.5em 0 0em rgba(201, 99, 142, 0.2), -1.8em 1.8em 0 0em rgba(201, 99, 142, 0.2), -2.6em 0em 0 0em rgba(201, 99, 142, 0.2), -1.8em -1.8em 0 0em rgba(201, 99, 142, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(201, 99, 142, 0.5), 1.8em -1.8em 0 0em rgba(201, 99, 142, 0.7), 2.5em 0em 0 0em #c9638e, 1.75em 1.75em 0 0em rgba(201, 99, 142, 0.2), 0em 2.5em 0 0em rgba(201, 99, 142, 0.2), -1.8em 1.8em 0 0em rgba(201, 99, 142, 0.2), -2.6em 0em 0 0em rgba(201, 99, 142, 0.2), -1.8em -1.8em 0 0em rgba(201, 99, 142, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(201, 99, 142, 0.2), 1.8em -1.8em 0 0em rgba(201, 99, 142, 0.5), 2.5em 0em 0 0em rgba(201, 99, 142, 0.7), 1.75em 1.75em 0 0em #c9638e, 0em 2.5em 0 0em rgba(201, 99, 142, 0.2), -1.8em 1.8em 0 0em rgba(201, 99, 142, 0.2), -2.6em 0em 0 0em rgba(201, 99, 142, 0.2), -1.8em -1.8em 0 0em rgba(201, 99, 142, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(201, 99, 142, 0.2), 1.8em -1.8em 0 0em rgba(201, 99, 142, 0.2), 2.5em 0em 0 0em rgba(201, 99, 142, 0.5), 1.75em 1.75em 0 0em rgba(201, 99, 142, 0.7), 0em 2.5em 0 0em #c9638e, -1.8em 1.8em 0 0em rgba(201, 99, 142, 0.2), -2.6em 0em 0 0em rgba(201, 99, 142, 0.2), -1.8em -1.8em 0 0em rgba(201, 99, 142, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(201, 99, 142, 0.2), 1.8em -1.8em 0 0em rgba(201, 99, 142, 0.2), 2.5em 0em 0 0em rgba(201, 99, 142, 0.2), 1.75em 1.75em 0 0em rgba(201, 99, 142, 0.5), 0em 2.5em 0 0em rgba(201, 99, 142, 0.7), -1.8em 1.8em 0 0em #c9638e, -2.6em 0em 0 0em rgba(201, 99, 142, 0.2), -1.8em -1.8em 0 0em rgba(201, 99, 142, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(201, 99, 142, 0.2), 1.8em -1.8em 0 0em rgba(201, 99, 142, 0.2), 2.5em 0em 0 0em rgba(201, 99, 142, 0.2), 1.75em 1.75em 0 0em rgba(201, 99, 142, 0.2), 0em 2.5em 0 0em rgba(201, 99, 142, 0.5), -1.8em 1.8em 0 0em rgba(201, 99, 142, 0.7), -2.6em 0em 0 0em #c9638e, -1.8em -1.8em 0 0em rgba(201, 99, 142, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(201, 99, 142, 0.2), 1.8em -1.8em 0 0em rgba(201, 99, 142, 0.2), 2.5em 0em 0 0em rgba(201, 99, 142, 0.2), 1.75em 1.75em 0 0em rgba(201, 99, 142, 0.2), 0em 2.5em 0 0em rgba(201, 99, 142, 0.2), -1.8em 1.8em 0 0em rgba(201, 99, 142, 0.5), -2.6em 0em 0 0em rgba(201, 99, 142, 0.7), -1.8em -1.8em 0 0em #c9638e;
    }
}
@keyframes load5 {
    0%, 100% {
        box-shadow: 0em -2.6em 0em 0em #c9638e, 1.8em -1.8em 0 0em rgba(201, 99, 142, 0.2), 2.5em 0em 0 0em rgba(201, 99, 142, 0.2), 1.75em 1.75em 0 0em rgba(201, 99, 142, 0.2), 0em 2.5em 0 0em rgba(201, 99, 142, 0.2), -1.8em 1.8em 0 0em rgba(201, 99, 142, 0.2), -2.6em 0em 0 0em rgba(201, 99, 142, 0.5), -1.8em -1.8em 0 0em rgba(201, 99, 142, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(201, 99, 142, 0.7), 1.8em -1.8em 0 0em #c9638e, 2.5em 0em 0 0em rgba(201, 99, 142, 0.2), 1.75em 1.75em 0 0em rgba(201, 99, 142, 0.2), 0em 2.5em 0 0em rgba(201, 99, 142, 0.2), -1.8em 1.8em 0 0em rgba(201, 99, 142, 0.2), -2.6em 0em 0 0em rgba(201, 99, 142, 0.2), -1.8em -1.8em 0 0em rgba(201, 99, 142, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(201, 99, 142, 0.5), 1.8em -1.8em 0 0em rgba(201, 99, 142, 0.7), 2.5em 0em 0 0em #c9638e, 1.75em 1.75em 0 0em rgba(201, 99, 142, 0.2), 0em 2.5em 0 0em rgba(201, 99, 142, 0.2), -1.8em 1.8em 0 0em rgba(201, 99, 142, 0.2), -2.6em 0em 0 0em rgba(201, 99, 142, 0.2), -1.8em -1.8em 0 0em rgba(201, 99, 142, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(201, 99, 142, 0.2), 1.8em -1.8em 0 0em rgba(201, 99, 142, 0.5), 2.5em 0em 0 0em rgba(201, 99, 142, 0.7), 1.75em 1.75em 0 0em #c9638e, 0em 2.5em 0 0em rgba(201, 99, 142, 0.2), -1.8em 1.8em 0 0em rgba(201, 99, 142, 0.2), -2.6em 0em 0 0em rgba(201, 99, 142, 0.2), -1.8em -1.8em 0 0em rgba(201, 99, 142, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(201, 99, 142, 0.2), 1.8em -1.8em 0 0em rgba(201, 99, 142, 0.2), 2.5em 0em 0 0em rgba(201, 99, 142, 0.5), 1.75em 1.75em 0 0em rgba(201, 99, 142, 0.7), 0em 2.5em 0 0em #c9638e, -1.8em 1.8em 0 0em rgba(201, 99, 142, 0.2), -2.6em 0em 0 0em rgba(201, 99, 142, 0.2), -1.8em -1.8em 0 0em rgba(201, 99, 142, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(201, 99, 142, 0.2), 1.8em -1.8em 0 0em rgba(201, 99, 142, 0.2), 2.5em 0em 0 0em rgba(201, 99, 142, 0.2), 1.75em 1.75em 0 0em rgba(201, 99, 142, 0.5), 0em 2.5em 0 0em rgba(201, 99, 142, 0.7), -1.8em 1.8em 0 0em #c9638e, -2.6em 0em 0 0em rgba(201, 99, 142, 0.2), -1.8em -1.8em 0 0em rgba(201, 99, 142, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(201, 99, 142, 0.2), 1.8em -1.8em 0 0em rgba(201, 99, 142, 0.2), 2.5em 0em 0 0em rgba(201, 99, 142, 0.2), 1.75em 1.75em 0 0em rgba(201, 99, 142, 0.2), 0em 2.5em 0 0em rgba(201, 99, 142, 0.5), -1.8em 1.8em 0 0em rgba(201, 99, 142, 0.7), -2.6em 0em 0 0em #c9638e, -1.8em -1.8em 0 0em rgba(201, 99, 142, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(201, 99, 142, 0.2), 1.8em -1.8em 0 0em rgba(201, 99, 142, 0.2), 2.5em 0em 0 0em rgba(201, 99, 142, 0.2), 1.75em 1.75em 0 0em rgba(201, 99, 142, 0.2), 0em 2.5em 0 0em rgba(201, 99, 142, 0.2), -1.8em 1.8em 0 0em rgba(201, 99, 142, 0.5), -2.6em 0em 0 0em rgba(201, 99, 142, 0.7), -1.8em -1.8em 0 0em #c9638e;
    }
}
.css-yoga .loader-3 {
    border-top-color: rgba(201, 99, 142, 0.2);
    border-right-color: rgba(201, 99, 142, 0.2);
    border-bottom-color: rgba(201, 99, 142, 0.2);
    border-left-color: #c9638e;
}
.css-yoga .svg-animation path {
    stroke: #c9638e;
}
.css-yoga .loader-36 > div {
    background-image: -webkit-linear-gradient(transparent 0%, transparent 70%, #c9638e 30%, #c9638e 100%);
    background-image: linear-gradient(transparent 0%, transparent 70%, #c9638e 30%, #c9638e 100%);
}
.css-yoga .blockquote-style-2 blockquote:after, 
.css-yoga .blockquote-style-2 blockquote:before{
  background-color: transparent;
}
.css-yoga .tab-content h4{
	width: 100%;
	float: left;
	margin-bottom: 0px;
}
.css-yoga .tab-content .divider-box{
	margin: 10px auto;
}
.css-yoga .photography-swiper .swiper-content{
	padding-left: 0;
	text-align: center;
}
.css-yoga .photography-swiper .swiper-content h1{
	font-size: 85px;
	font-weight: 700;
	text-transform: capitalize;
	letter-spacing: 0.5px;
    margin-bottom: 10px;
}
.css-yoga .photography-swiper .swiper-content h2{
	font-size: 18px;
    font-family: "Raleway", sans-serif;
    color: #fff;
        margin-top: 0px;
    margin-bottom: 40px;
}